.App {
  font-family: sans-serif;
  margin: 0 auto;
  padding: 20px;
  background-color: #efffff;
}

.App p {
  margin: 10px 0;
  cursor: pointer;
  color: #00a86b;
}

.App p:hover {
  opacity: 0.8; /* Add hover effect to dim text slightly */
}

.featured {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 20px;
  background-color: #fff;
}

.featured h2 {
  margin-bottom: 10px;
  color: #00a86b;
}

.featured ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.featured li {
  margin-bottom: 5px;
  color: #00a86b;
}

.clicked {  /* New class for clicked puppy styles */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}